// VARIABLES

$white: #fafafa;
$black:  #030303;
$light-grey: #dadada;
$medium-grey: #999999;
$dark-grey: #333333;
$primary-dark: #03045e;
$primary: #023e8a;
$primary-light: #00b4d8;
$accent: #efbdeb;
$auto-mode: rgb(0, 204, 79);
$light-mode: rgb(212, 206, 139);
$dark-mode: rgb(0, 49, 99);

$ff-body: "Roboto", Arial, Helvetica, sans-serif;
$ff-heading: "Montserrat", Arial, Helvetica, sans-serif;
$fw-body: 400;
$fw-body-bold: 700;
$fw-heading: 700;
$fw-heading-thin: 300;
      