.theme-switcher {
    width: 7.4rem;
    margin-top: 2px;
    margin-right:15px;
    margin-left:auto;
    background-color: var(--clr-bg-black);
    border-radius: 2.2rem;
    padding: 0.4rem 0.4rem 0.1rem 0.4rem;
    }
  
.theme-switcher-container svg {
    fill: rgb(242, 242, 242);
    height: 1.5rem;
    width: 1.5rem;
    margin: 0.2rem;
  }

.theme-switcher svg {
    fill: rgb(242, 242, 242);
    height: 1.5rem;
    width: 1.5rem;
    margin: 0.2rem;
  }
  
.theme-switcher input[type="radio"] {
  position: absolute;
  opacity: 0;
  }
  .theme-switcher input[type="radio"] + svg {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  }
  
  .theme-switcher input + svg {
  cursor: pointer;
  }
  
  .theme-switcher input[class="night"]:hover + svg,
  .theme-switcher input[class="night"]:checked + svg,
  .theme-switcher input[class="night"]:focus + svg {
  fill: $dark-mode;
  }
  
  .theme-switcher input[class="auto"]:hover + svg,
  .theme-switcher input[class="auto"]:checked + svg,
  .theme-switcher input[class="auto"]:focus + svg {
  fill: $auto-mode;
  }
  
  .theme-switcher input[class="light"]:hover + svg,
  .theme-switcher input[class="light"]:checked + svg,
  .theme-switcher input[class="light"]:focus + svg {
  fill: $light-mode;
  }