body {
  font-family: #{$ff-body};
}

h1,
h2,
h3 {
  font-family: #{$ff-heading};
  margin-top: 0.5em;
}

h1 {
  font-weight: #{$fw-heading-thin};
}

h2,
h3 {
  font-weight: #{$fw-heading};
}

a {
  color: #{$primary};
}

.bolded {
  font-weight: $fw-body-bold;
}
