@use "abstracts/variables";
@use "abstracts/mixins";
@use 'base/reset';
@use 'base/typography';
@use 'layout/navigation';
@use 'layout/grid';
@use 'layout/header';
@use 'layout/footer';
@use 'layout/sidebar';
@use 'layout/forms';
@use 'components/buttons';
@use 'components/carousel';
@use 'components/cover';
@use 'components/dropdown';
@use "/sass/components/forms";
.theme-switcher-container {
  width: 7rem;
  margin-top: 2px;
  margin-right: 15px;
  margin-left: auto;
}

.theme-switcher {
  background-color: black;
  border-radius: 2.2rem;
  padding: 0.4rem 0.4rem 0.1rem 0.4rem;
}

.theme-switcher-container svg {
  fill: #f2f2f2;
  height: 1.5rem;
  width: 1.5rem;
  margin: 0.2rem;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
}

input[type="radio"] + svg {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

input + svg {
  cursor: pointer;
}

input[class="night"]:hover + svg,
input[class="night"]:checked + svg,
input[class="night"]:focus + svg {
  fill: #006dd9;
}

input[class="auto"]:hover + svg,
input[class="auto"]:checked + svg,
input[class="auto"]:focus + svg {
  fill: #00cc4f;
}

input[class="light"]:hover + svg,
input[class="light"]:checked + svg,
input[class="light"]:focus + svg {
  fill: #e8d600;
}

@use 'pages/home';
@use 'pages/contact';
@use 'themes/theme';
@use 'themes/admin';
:root {
  --ff-body: "Roboto", Arial, Helvetica, sans-serif;
  --ff-heading: "Montserrat", Arial, Helvetica, sans-serif;
  --fw-body: 400;
  --fw-body-bold: 700;
  --fw-heading: 700;
  --fw-heading-thin: 300;
  --palet-white: #fafafa;
  --palet-black: #030303;
  --palet-light-grey: #dadada;
  --palet-medium-grey: #999999;
  --palet-dark-grey: #333333;
  --palet-primary-dark: #03045e;
  --palet-primary: #023e8a;
  --palet-primary-light: #00b4d8;
  --palet-accent: #efbdeb;
  --clr-bg-light: var(--palet-white);
  --clr-bg-dark: var(--palet-light-grey);
  --clr-bg-black: var(--palet-black);
  --clr-txt: var(--palet-black);
  --clr-primary-dark: var(--palet-primary-dark);
  --clr-primary: var(--palet-primary);
  --clr-primary-light: var(--palet-primary-light);
  --clr-acc: var(--palet-accent);
  --clr-txt-light: var(--palet-white);
  --clr-card-bg: white;
  --clr-card-border: var(--palet-medium-grey);
}

:root.light-mode {
  --clr-bg-light: var(--palet-white);
  --clr-bg-dark: var(--palet-light-grey);
  --clr-bg-black: var(--palet-black);
  --clr-txt: var(--palet-black);
  --clr-primary-dark: var(--palet-primary-dark);
  --clr-primary: var(--palet-primary);
  --clr-primary-light: var(--palet-primary-light);
  --clr-acc: var(--palet-accent);
  --clr-txt-light: var(--palet-white);
  --clr-card-bg: white;
  --clr-card-border: var(--palet-medium-grey);
}

:root.dark-mode {
  --clr-bg-light: var(--palet-black);
  --clr-bg-dark: var(--palet-dark-grey);
  --clr-bg-black: var(--palet-white);
  --clr-txt: var(--palet-white);
  --clr-primary-dark: var(--palet-primary-dark);
  --clr-primary: var(--palet-primary);
  --clr-primary-light: var(--palet-primary-light);
  --clr-acc: var(--palet-accent);
  --clr-txt-light: var(--palet-black);
  --clr-card-bg: var();
  --clr-card-border: var(--palet-medium-grey);
}

@media (prefers-color-scheme: light) {
  :root.auto-mode {
    --clr-bg-light: var(--palet-white);
    --clr-bg-dark: var(--palet-light-grey);
    --clr-bg-black: var(--palet-black);
    --clr-txt: var(--palet-black);
    --clr-primary-dark: var(--palet-primary-dark);
    --clr-primary: var(--palet-primary);
    --clr-primary-light: var(--palet-primary-light);
    --clr-acc: var(--palet-accent);
    --clr-txt-light: var(--palet-white);
    --clr-card-bg: white;
    --clr-card-border: var(--palet-medium-grey);
  }
}

@media (prefers-color-scheme: dark) {
  :root.auto-mode {
    --clr-bg-light: var(--palet-black);
    --clr-bg-dark: var(--palet-dark-grey);
    --clr-bg-black: var(--palet-white);
    --clr-txt: var(--palet-white);
    --clr-primary-dark: var(--palet-primary-dark);
    --clr-primary: var(--palet-primary);
    --clr-primary-light: var(--palet-primary-light);
    --clr-acc: var(--palet-accent);
    --clr-txt-light: var(--palet-black);
    --clr-card-bg: var();
    --clr-card-border: var(--palet-medium-grey);
  }
}

body {
  background-color: var(--clr-bg-light);
  color: var(--clr-txt);
  font-family: var(--ff-body);
  font-weight: var(--fw-body);
}

/* TYPOGRAPHY */
h1,
h2,
h3 {
  font-family: var(--ff-heading);
  margin-top: 0.5em;
}

h1 {
  font-weight: var(--fw-heading-thin);
}

h2,
h3 {
  font-weight: var(--fw-heading);
}

a {
  color: var(--clr-primary);
}

.bolded {
  font-weight: 700;
}

/* THEME SWITCHER */
/* PAGE STYLES  */
main {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

header {
  margin-bottom: 3em;
}

section {
  padding: 0 1em;
}

img {
  width: 100%;
}

.section-icon {
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 0;
  color: var(--clr-primary);
  margin-top: 1.5rem;
}

.section-h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.7rem;
  position: relative;
  margin-top: 0;
  margin-bottom: 1em;
}

.section-h1::after {
  content: " ";
  height: 3px;
  background-color: var(--clr-primary);
  width: 20%;
  left: 40%;
  bottom: -5px;
  position: absolute;
}

.btn {
  width: 100%;
  font-size: 1.5em;
  padding: 0.5em 1em;
  margin: 0.5em 0;
  border-radius: 5px;
  display: block;
  text-align: center;
  text-decoration: none;
}

.btn-primary {
  color: var(--clr-bg-light);
  background-color: var(--clr-primary);
  border: solid 2px var(--clr-primary);
}

.btn-primary:hover {
  background-color: var(--clr-bg-light);
  color: var(--clr-primary);
}

.btn-primary-outline {
  background-color: transparent;
  border: solid 2px var(--clr-primary);
  color: var(--clr-primary);
}

.btn-primary-outline:hover {
  background-color: var(--clr-primary);
  color: var(--clr-bg-light);
}

.btn-wrapper-2 {
  margin-bottom: 2em;
}

.card {
  background-color: var(--clr-card-bg);
  border: 2px solid var(--clr-card-border);
  border-radius: 20px;
  overflow: hidden;
}

@media only screen and (min-width: 600px) {
  .btn-wrapper-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 1em 1em;
    gap: 1.5rem;
  }
}

/* PROFILE SECTION*/
.profile-img {
  width: 250px;
  border-radius: 50%;
  margin: 2em auto 0;
  display: block;
}

.name {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.job-title {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 1em;
  font-family: var(--ff-heading);
  font-weight: var(--fw-heading);
}

.profile-description {
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.social-links {
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 1em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-link {
  text-decoration: none;
  padding: 0 2em;
}

.fab {
  font-size: 2.5rem;
  color: var(--clr-primary);
}

.fa-twitter {
  color: #00acee;
}

.fa-linkedin-in {
  color: #0e76a8;
}

.fa-github {
  color: #24292e;
}

.fab:hover {
  color: var(--clr-primary);
}

@media only screen and (min-width: 750px) {
  .profile-description {
    width: 80%;
  }
}

/* SKILLS SECTION*/
.skill-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skill-list > li {
  font-size: 1.5rem;
  padding: 1rem;
}

/* PROJECT SECTION*/
.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
}

.project {
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.project-img {
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.project-status-development {
  display: block;
  color: red;
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 8px auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media only screen and (min-width: 850px) {
  .projects {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .project {
    width: 33%;
  }
}

/* CERTIFICATION SECTION*/
.certificate--title > a {
  color: var(--clr-txt);
  text-decoration: none;
}

.certificate--type {
  color: white;
  background-color: var(--clr-primary);
  padding: 3px 10px;
  border-radius: 20px;
  height: 27px;
  margin-top: auto;
}

@media only screen and (min-width: 800px) {
  .certificate--header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.5rem;
  }
  .certificate--info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.5rem;
  }
}

/* EXPERIENCE SECTION*/
.experience--item {
  margin-bottom: 2rem;
}

.experience--job-tile {
  margin-top: 0;
}

.experience--company {
  font-weight: bold;
}

.experience--desciption {
  margin-top: 0.5rem;
}

.experience--item ul {
  margin-left: 2rem;
  margin-top: 0.5rem;
  list-style: circle;
}

.txt-link-btn {
  margin-top: 1rem;
  border: none;
  text-decoration: underline;
  background-color: transparent;
  cursor: pointer;
  color: var(--clr-txt);
  font-size: 1.2rem;
}

.hideable.hidden {
  display: none;
  opacity: 0;
}

/* CONTACT SECTION*/
input,
textarea {
  width: 100%;
  padding: 1em 0.5em;
}

textarea {
  height: 6em;
}

/* FOOTER SECTION*/
footer {
  background-color: var(--clr-primary-dark);
  color: var(--clr-txt-light);
}

.copyright-text {
  text-align: center;
  font-weight: bold;
}

/* THEME TOGGLE*/
/*# sourceMappingURL=main.css.map */