@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Roboto:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --ff-body: "Roboto", Arial, Helvetica, sans-serif;
  --ff-heading: "Montserrat", Arial, Helvetica, sans-serif;
  --fw-body: 400;
  --fw-body-bold: 700;
  --fw-heading: 700;
  --fw-heading-thin: 300;
  --palet-white: #fafafa;
  --palet-black: #030303;
  --palet-light-grey: #dadada;
  --palet-medium-grey: #999999;
  --palet-dark-grey: #333333;
  --palet-primary-dark: #03045e;
  --palet-primary: #023e8a;
  --palet-primary-light: #00b4d8;
  --palet-accent: #efbdeb;
  --clr-bg-light: var(--palet-white);
  --clr-bg-dark: var(--palet-light-grey);
  --clr-bg-black: var(--palet-black);
  --clr-txt: var(--palet-black);
  --clr-primary-dark: var(--palet-primary-dark);
  --clr-primary: var(--palet-primary);
  --clr-primary-light: var(--palet-primary-light);
  --clr-acc: var(--palet-accent);
  --clr-txt-light: var(--palet-white);
}

body {
  background-color: var(--clr-bg-light);
  color: var(--clr-txt);
  font-family: var(--ff-body);
  font-weight: var(--fw-body);
}

/* TYPOGRAPHY */
h1,
h2,
h3 {
  font-family: var(--ff-heading);
  margin-top: 0.5em;
}

h1 {
  font-weight: var(--fw-heading-thin);
}

h2,
h3 {
  font-weight: var(--fw-heading);
}

.bolded {
  font-weight: 700;
}

main {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

header {
  margin-bottom: 3em;
}

section {
  padding: 0 1em;
}

img {
  width: 100%;
}

.section-icon {
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 0;
  color: var(--clr-primary);
  margin-top: 1.5rem;
}

.section-h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.7rem;
  position: relative;
  margin-top: 0;
  margin-bottom: 1em;
}

.section-h1::after {
  content: " ";
  height: 3px;
  background-color: var(--clr-primary);
  width: 20%;
  left: 40%;
  bottom: -5px;
  position: absolute;
}

.btn {
  min-width: 60%;
  width: 100%;
  font-size: 1.5em;
  padding: 0.5em 1em;
  margin: 0.5em 0;
  border-radius: 5px;
}

.btn-primary {
  color: var(--clr-bg-light);
  background-color: var(--clr-primary);
  border-color: var(--clr-primary);
}

.btn-primary:hover {
  background-color: var(--clr-bg-light);
  color: var(--clr-primary);
}

.btn-primary-outline {
  background-color: transparent;
  border: solid 2px var(--clr-primary);
  color: var(--clr-primary);
}

.btn-primary-outline:hover {
  background-color: var(--clr-primary);
  color: var(--clr-bg-light);
}

.btn-wrapper-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-wrapper-2 > button.btn {
  width: 0%;
}

/* PROFILE SECTION*/
.profile-img {
  width: 250px;
  border-radius: 50%;
  margin: 2em auto 0;
  display: block;
}

.name {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.job-title {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 1em;
  font-family: var(--ff-heading);
  font-weight: var(--fw-heading);
}

.profile-description {
  margin-bottom: 1rem;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2em;
}

.social-link {
  text-decoration: none;
}

.fab {
  font-size: 2.5rem;
  color: var(--clr-primary);
}

.fa-twitter {
  color: #00acee;
}

.fa-linkedin-in {
  color: #0e76a8;
}

.fa-instagram {
  color: #833ab4;
}

.fa-github {
  color: #24292e;
}

.fab:hover {
  color: var(--clr-primary);
}

/* SKILLS SECTION*/
/* PROJECT SECTION*/
.project {
  margin-bottom: 1rem;
}

/* CERTIFICATION SECTION*/
.certificate--title > a {
  color: var(--clr-txt);
  text-decoration: none;
}

meter {
  color: blue;
  background-color: blue;
}

/* CONTACT SECTION*/
input,
textarea {
  width: 100%;
  padding: 1em 0.5em;
}

textarea {
  height: 6em;
}

/* FOOTER SECTION*/
footer {
  background-color: var(--clr-primary-dark);
  color: var(--clr-txt-light);
}

.copyright-text {
  text-align: center;
  font-weight: bold;
}

/* THEME TOGGLE*/
.theme-toggle-container {
  position: absolute;
  top: 5px;
  right: 5px;
}

.theme-toggle {
  background: var(--clr-bg-light);
  display: inline-block;
  padding: 2px 3px;
  border-radius: 20px;
  position: relative;
  border: 2px solid var(--clr-txt);
}

.theme-toggle label {
  text-align: center;
  display: inline-block;
  color: var(--clr-txt);
  position: relative;
  z-index: 2;
  margin: 0;
  text-align: center;
  padding: 2px 3px;
  font-size: 15px;
  cursor: pointer;
}

.theme-toggle input {
  display: none;
  position: absolute;
  z-index: 3;
  opacity: 0;
  cursor: pointer;
}

.theme-toggle span {
  height: 21px;
  width: 21px;
  line-height: 21px;
  border-radius: 50%;
  background: #fff;
  display: block;
  position: absolute;
  left: 22px;
  top: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.theme-toggle input[value="light"]:checked ~ span {
  background: #e74c3c;
  left: 2px;
  color: #fff;
}

.theme-toggle input[value="dark"]:checked ~ span {
  background: #27ae60;
  left: 46px;
}

.theme-toggle input[value="auto"]:checked ~ span {
  background: #95a5a6;
  left: 23px;
}

.theme-toggle input[value="light"]:checked + label,
.theme-toggle input[value="dark"]:checked + label {
  color: #fff;
}

.theme-toggle input[value="auto"]:checked + label {
  color: #fff;
}
/*# sourceMappingURL=main.css.map */